main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.contenedor {
    position: relative;
    display: block;
    overflow: hidden;

}

video {
    width: 100%;
    height: auto;
    filter: brightness(40%);
}


.texto-inicio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    text-align: center;
}

#intro {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

#artículo-1 {
    margin: 40px;
    height: 550px;
    position: relative;  
    margin-bottom: 100px;
}

h2 {
    margin-bottom: 20px;
}

section p {
    text-align: justify;
}

.redes-generativas-adversarias {
    position: relative;

}

.montañas {
    width: 50%;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
    display: block;
}

#artículo-2 {
    margin: 40px;
    height: 550px;
    position: relative;
    margin-bottom: 100px;
}

.desierto {
    width: 50%;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
    display: block;
}

#artículo-3 {
    margin: 40px;
    position: relative;
    height: 550px;
    margin-bottom: 100px;
}

.volcán {
    width: 50%;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    display: block;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    margin-top: 2%;
    padding: 3%;
}

