body {
    overflow: hidden  /* Oculta el scroll horizontal */
}


#titulo1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    margin-top: 20px;
}

#subtitulo {
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 20px;
}

header {
    line-height: 0.1px
}

#contenedor {
    background-color: black;
    padding: 30px;
    opacity: 0.9;
    border-bottom: 2px white solid;
}

#secciones {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

#secciones a {
    margin: 0 7px;
}


#título {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
    position: relative;
    top: 100px;
    font-size: 50px;
    text-align: center;
}

#videoinicial {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: -1;
    object-fit: cover;
    filter: brightness(40%)
    
}

#videoinicial video {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    padding: 10px 20px;
    color: white; 
    background-color: black; /* Color de fondo de los botones */
    border: 3px white solid;
    transition: 0.2s; /* Transición suave para efectos de hover */
}

a:hover {
    color: black;
    background-color: white;
    border: 3px black solid;
}

#final p {
    display: flex;
    justify-content: center;
    color: white;
}



