#titulo1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
}

header {
    line-height: 0.1px
}

#contenedor {
    background-color: black;
    padding: 150px;
}

#bienvenido {
    font-size: 50px;
    color: blue;
    text-align: center;
}

#título-comentarios {
    background-color: white;
    border: 2px black solid;
    text-align: center;
    padding: 3px;
    font-size: 35px;
}

#blue {
    color: blue;
}