main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.contenedor {
    position: relative;
    display: block;
    overflow: hidden;
}

video {
    width: 100%;
    height: auto;
    filter: brightness(40%);
}

.texto-inicio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 30px
}

.slider {
	width: 1024px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 15s infinite alternate ease-in-out;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

#tabla {
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px;
    margin-left: 70px;
    margin-right: 70px;
}

th {
    border: 2px white solid;
    padding-inline: 50px;
    padding: 20px;
    background-color: black;
}

th {
    font-size: 30px;
}

tr td {
    border: 2px white solid;
    background-color: black;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    display: block;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    margin-top: 2%;
    padding: 3%;
}