main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    justify-content: center;
    font-size: 12px;
    text-align: center;
    margin-top: 2%;
    padding: 3%;
}

a {
    text-decoration: none;
}

.botón {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px
}

.vuelta a {
    color: white;
    font-size: 20px;
    background-color: black;
    padding: 5px;
    border: 3px solid black
}

.vuelta a:hover {
    color: black;
    background-color: white;
    border: 3px solid black; /* Añade un borde de 2px de grosor de color negro */
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}